/* ======================================================================= */

.homeMove {
  /* margin-left: 30px; */
  /* margin-bottom: 30px; */
  font-size: 10px;
  cursor: pointer;
  /* text-align: center; */
  /* margin: 0 auto; */
}

/* ======================================================================= */
.indexBody {
  background-color: aliceblue;
  font-family: "游ゴシック";
}

.indexHeader {  
  display: flex;
  justify-content: center;
  position: relative;

  /* text-align: center; */

  /* margin: 0 auto; */

  /* width: 1000px; */
  /* margin-bottom: 30px; */
}

.indexTitle {
  text-align: center;
  /* padding: left 100px;
  margin: 0 auto;
  text-align: center; */
}

.indexUpdate{
  /* text-align: right; */
  padding-left: 850px;
  /* position: relative;
  right: 300px; */
  /* top: 100; */

  position: absolute;
  /* left: 50px; */
  /* right: 50px; */
  /* bottom: 100; */

    /* margin: 0 0 0 auto; */
  /* position: relative; */
  /* left: 300px; */
}

.profile {
  height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(177, 217, 235);
  width: 1000px;
  margin: 0 auto;
  /* margin-right: 0;
  margin-bottom: 0; */
  text-align: center;
}

.my {
  width: 333px;
  /* background-color: #cc4f39; */
  height: 250px;
  /* line-height: 125px; */
  margin: 20px 0 0;
  /* line-height: 220px; */
}

.indexCamel {
  width: 333px;
  /* background-color: #cc4f39; */
  height: 150px;
  margin: 20px;
  /* padding: 10 20 40; */
  margin: 0 auto;
  /* margin: 10px; */
}

#picReverse {
  transform: scale(-1, 1);
}

.indexMain {
  display: flex;
  justify-content: space-between;
  background-color: rgb(177, 217, 235);
  width: 1000px;
  /* padding: 0 0 0; */
  margin: 0 auto;
  /* text-align: center; */
  
}

.indexSubHobby {
  width: 450px;
  height: 180px;
  background-color: white;
  /* padding: 30px 50px 80px; */
  margin: 20px;
}


/* h1 {
  text-align: center;
} */

.titleColorPaint {
  background-color: rgb(75, 131, 234);
  text-align: center;
  color: white;
  /* align-content: center; */
  /* margin: 30px; */
  /* margin-top: 100px; */
}

#picRecommendation {
  width: 50px;
  /* height: 30px; */
  /* margin-top: 5px; */
  /* margin-bottom: 20px; */
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* line-height: 100px; */
  vertical-align: bottom
}

カンマで区切ると、どちらか一方で含まれれば適用
ul, ol {
  margin: 15px 0 10px;
}


#youtubeText {
  text-align: center;
  margin: 0 0 0;
}

/* li {
  text-decoration: none;
} */
li span{
  font-size: 20px;

}

.eraseUnderline {
  text-decoration: none;
}

.eraseUnderline:hover {
  font-weight: bold;
}

.indexIcon {
  display: flex;
  /* justify-content: space-between; */
  width: 1000px;
  margin: 0 auto;
}


.indexIconClickArea {
  /* background-color: #ff6347; */
  width: 200px;
  /* margin: 0 auto; */
  padding: 10px 50px 20px;
  margin: 0 auto;
  /* align-items: center; */
  text-align: center;
}

.picSize {
  width: 100px;
}

.picSizeGattleGame {
  width: 130px;
}


.picBoast {
  padding-top: 10px;
  width: 130px;
}

/* .indexIconFont {
  text-align: ;
} */

/* ======================================================================= */
/* SecretPage.html */

.boastTitleColorPaint {
  background-color: aquamarine;
  /* width: 200px; */
  /* margin: 30px; */
  /* margin-top: 100px; */

}

span30 {
  font-size: 11px;
}

.wrap {
  font-size: 30px;
  font-stretch: extra-expanded;
  animation: fadein 8s forwards;
}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

/* ======================================================================= */
/* ワニ数えるゲーム */

.td {
  font-family: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
  "Yu Gothic UI", "MS PGothic", sans-serif !Important;
}
  


.CroroBody {
  background-color: lightcyan;
  font-family: "游ゴシック";
}

.topMenu {
  /* float: left; */
  /* height: 30px; */
  display: flex;
}

#ruleExplanation {
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px 0 10px;
  /* text-align: center; */
}

#resetBtn {
  padding-left: 30px;
  padding-right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
}

#startBtn {
  width: 150px;
  height: 50px;
  background-color: rgb(174, 180, 168);
  /* margin: 10px auto; */
  border-radius: 50%;
/* padding-left: 20px; */
  /* letter-spacing: 100%; */
  /* line-height: 50px; */
  text-align: center;
  line-height: 50px;
  color: rgba(29, 95, 44, 0.708);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  user-select: none;

  box-shadow: 0 10px 0 rgb(122, 148, 131);
  margin-top: 4px auto;

  margin-left: 10px;
  margin-right: 10px;
}

#startBtn:active {
  box-shadow: 0 5px 0 rgb(122, 148, 131);
  margin-top: 6px;
}

/* #startBtn:hover {
  box-shadow: 0 5px 0 rgb(122, 148, 131);
  margin-top: 6px;
} */


/* .moveStart {animation: startBtn 1s forwards;}

@keyframes startBtn {
  0%{transform: translate(0px, 0px);}
  100%{transform: translate(0px, 5px);}
} */


#countBtn {
  width: 50px;
  height: 50px;
  background-color: rgb(136, 255, 0);
  /* margin: 10px auto; */
  border-radius: 50%;
/* padding-left: 20px; */
  /* letter-spacing: 100%; */
  /* line-height: 50px; */
  text-align: center;
  line-height: 50px;
  color: rgba(29, 95, 44, 0.708);
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  user-select: none;

  box-shadow: 0 10px 0 rgb(31, 211, 91);
  margin-top: 4px auto;

  margin-left: 10px;
  margin-right: 10px;
}

#countBtn:active {
  box-shadow: 0 5px 0 rgb(31, 211, 91);
  margin-top: 6px;
}


#countDownBtn {
  width: 50px;
  height: 50px;
  background-color: #ff6347;
  /* margin: 10px auto; */
  border-radius: 50%;
/* padding-left: 20px; */
  /* letter-spacing: 100%; */
  /* line-height: 50px; */
  text-align: center;
  line-height: 50px;
  color: rgba(29, 95, 44, 0.708);
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  user-select: none;

  box-shadow: 0 10px 0 #cc4f39;
  margin-top: 4px auto;

  margin-left: 10px;
  margin-right: 10px;
}

#countDownBtn:active {
  box-shadow: 0 5px 0 #cc4f39;
  margin-top: 6px;
}

#square2 {
  /* border: 2px solid #000; */
  width: 200px;
  background-color: black;
  user-select: none;
}

#numDisply {  
  background-color:black;
  color: white;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
  margin: 0 8px 0;
  /* margin-bottom: 30px; */
}

#countEnd {
  /* padding-left: 30px; */
  margin: 0 30px 10px;
  width: 100px;
  cursor: pointer;
  display: none;
}

#resultDisplay {
  /* margin: 0 0 0px; */
  /* padding-left: 30px; */
  width: 290px;
  /* height: 80px; */
  background-color: black;
  color: white;
  font-size: 11px;
  display: none;
}



/* ======================================================================= */

/* 丸図形 */
.croroPic {
  width: 50px;
  height: 50px;
}


.picRun {
  background-color: darkorange;
  height: 300px;
}

#box1 {display: none;}
#box2 {display: none;}
#box3 {display: none;}
#box4 {display: none;}
#box5 {display: none;}
#box6 {display: none;}
#box7 {display: none;}
#box8 {display: none;}
#box9 {display: none;}
#box10 {display: none;}
#box11 {display: none;}
#box12 {display: none;}
#box13 {display: none;}
#box14 {display: none;}
#box15 {display: none;}
#box16 {display: none;}
#box17 {display: none;}
#box18 {display: none;}
#box19 {display: none;}

.move1 {animation: box_move1 15s forwards;}
.move2 {animation: box_move2 15s forwards;}
.move3 {animation: box_move3 14s forwards;}
.move4 {animation: box_move4 24s forwards;}
.move5 {animation: box_move5 22s forwards;}
.move6 {animation: box_move6 15s forwards;}
.move7 {animation: box_move7 18s forwards;}
.move8 {animation: box_move8 16s forwards;}
.move9 {animation: box_move9 20s forwards;}
.move10 {animation: box_move10 16s forwards;}
.move11 {animation: box_move11 23s forwards;}
.move12 {animation: box_move12 25s forwards;}
.move13 {animation: box_move13 23s forwards;}
.move14 {animation: box_move14 24s forwards;}
.move15 {animation: box_move15 20s forwards;}
.move16 {animation: box_move16 19s forwards;}
.move17 {animation: box_move17 15s forwards;}
.move18 {animation: box_move18 15s forwards;}
.move19 {animation: box_move19 15s forwards;}

@keyframes box_move1 {
  0%{transform: translate(2000px, 100px);}
  100%{transform: translate(-1500px, 200px);}
}

@keyframes box_move2 {
  0%{transform: translate(1300px, 0px);}
  100%{transform: translate(-1900px, -100px);}
}

@keyframes box_move3 {
  0%{transform: translate(20000px, 100px);}
  100%{transform: translate(-1200px, -100px);}
}

@keyframes box_move4 {
  0%{transform: translate(23000px, -100px);}
  100%{transform: translate(-1900px, -100px);}
}

@keyframes box_move5 {
  0%{transform: translate(15000px, -200px);}
  100%{transform: translate(-1900px, -100px);}
}

@keyframes box_move6 {
  0%{transform: translate(8000px, -100px);}
  100%{transform: translate(-1900px, -100px);}
}

@keyframes box_move7 {
  0%{transform: translate(5000px, -400px);}
  100%{transform: translate(-1900px, -200px);}
}

@keyframes box_move8 {
  0%{transform: translate(2000px, -100px);}
  100%{transform: translate(-1900px, -300px);}
}

@keyframes box_move9 {
  0%{transform: translate(8000px, -200px);}
  100%{transform: translate(-1900px, -400px);}
}

@keyframes box_move10 {
  0%{transform: translate(9000px, -400px);}
  100%{transform: translate(-1900px, -300px);}
}

@keyframes box_move11 {
  0%{transform: translate(2000px, -500px);}
  100%{transform: translate(-1900px, -400px);}
}

@keyframes box_move12 {
  0%{transform: translate(10000px, -600px);}
  100%{transform: translate(-1900px, -500px);}
}

@keyframes box_move13 {
  0%{transform: translate(2000px, -500px);}
  100%{transform: translate(-1900px, -600px);}
}

@keyframes box_move14 {
  0%{transform: translate(5000px, -400px);}
  100%{transform: translate(-1900px, -600px);}
}

@keyframes box_move15 {
  0%{transform: translate(16000px, -600px);}
  100%{transform: translate(-1900px, -600px);}
}

@keyframes box_move16 {
  0%{transform: translate(11000px, -500px);}
  100%{transform: translate(-1900px, -500px);}
}

@keyframes box_move17 {
  0%{transform: translate(10000px, -900px);}
  100%{transform: translate(-1900px, -700px);}
}

@keyframes box_move18 {
  0%{transform: translate(17000px, -900px);}
  100%{transform: translate(-1900px, -700px);}
}

@keyframes box_move19 {
  0%{transform: translate(9000px, -700px);}
  100%{transform: translate(-1900px, -900px);}
}


/* ======================================================================= */
/* ポケモンバトル（i_animal_battle.html）で使用される主なCSS */


.startDisply {
  display: flex;
  width: 1000;
}


.handled1p2pSelect {
  width: 70px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.handled1P2Ptitle {
  width: 420px;
  background-color: cornflowerblue;
  margin-right: 20px;
  margin-bottom: 0;
  color: white;
}

.handled1p2pNumber {
  width: 65px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.handled1p2pName {
  width: 120px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.handled1p2pType1 {
  width: 85px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.handled1p2pType2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.startDisplyHandledeTitle{
  display: flex;
  width: 440px;
}

.handheldSelect {
  width: 40px;
  background-color: cornflowerblue;
  color: white;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.handheldNumber {
  width: 40px;
  background-color: white;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.handheName {
  width: 110px;
  background-color: white;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 0px;
 }

 .handheType {
  width: 65px;
  background-color: white;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 0px;
 }

/* ======================================================================= */

 .selectAnimal {
  width: 400px;
  font-size: 30px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 0;
  color:black;
 }


 .inputDecision {
  font-size: 50px;
  cursor: pointer;
  font-size: 18px;
  margin-top: px;
 }

.inputDecisionArea {
  width: 420px;
  text-align: left;
  margin-right: 18px;
  margin-top: 10px;
}

.battleStart {
  font-size: 20px;
  text-align: left;
  margin-right: 18px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
}

.howManyRounds {
  font-size: 30px;
  font-weight: bold;
}

/* ----------------------------------- */

.techniqueNameTitle{
  width: 170px;
  margin-bottom: 0;
}

.techniqueTypeTitle {
  width: 100px;
  margin-bottom: 0;
}


.techniquChoiceArea {
  width: 150px;
  background-color: white;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 0px;
 }

 .techniquTypeChoiceArea {
  width: 70px;
  background-color: white;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 0px;
 }


 .weaknessTittle {
  width: 440px;
  margin-bottom: 0;
 }

 .weaknessArea {
  width: 410px;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
 }

 .weaknessDisplay {
  width: 400px;
  background-color: white;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 0px;
 }

 #fight1Result {
  font-size: 20px;
  text-align: left;
  margin-right: 18px;
  margin-top: 10px;
  width: 300px;
  text-align: center;
 }

 .resultWinTittle {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
 }

 .winArea {
  color: red;
 }
